{% extends "rest_framework/base.html" %}


{% block title %}一个测试的社交平台{% endblock %}


{% block branding %}
<style type="text/css">
.navbar-brand {
    float: left;
    height: 50px;
    padding: 15px 15px;
    font-size: 22px;
    line-height: 20px;
}
</style>

<a class="navbar-brand" rel="nofollow" href="/">
    一个测试的社交平台 <span class="version">1.0</span>
</a>
{% endblock %}

{% block userlinks %}
<li class="dropdown">
    <a href="#" class="dropdown-toggle" data-toggle="dropdown">
        {{ user.username }}
        <b class="caret"></b>
    </a>
    <ul class="dropdown-menu">
        <li><a href="/auth/api/logout/?next=/api/">Log out</a></li>
    </ul>
    <iframe id="tmp_downloadhelper_iframe" style="display: none;"></iframe>
</li>
{% endblock %}